.offer-bar {
  background-color: #d9d7d7;
  color: rgb(13, 13, 13);
  font-size: 15px;
  font-weight: 900;
  overflow: hidden;
  white-space: nowrap;
}

.offer-bar marquee {
  display: flex;
  align-items: center;
  gap: 20px;
}

.offer-item {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  margin-right: 25px;
}

.new-icon {
  width: 18px;
  height: 18px;
}


/* LOGO */
.logo-above-nav {
  background-color: #fff;
  text-align: center;
  padding: 10px 0;
}

.main-logo {
  width: 600px;
  height: 100px;
}

/* NAVBAR */
.bg-university {
  background-color: #8a0707 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff !important;
  padding: 10px 15px;
  transition: color 0.3s ease;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ffcccb !important;
}


.custom-dropdown .dropdown-menu {
  background-color: #000 !important;
  border: 1px solid #444;
  border-radius: 8px;
}

.dropdown-item {
  color: #fff !important;
  font-size: 13px;
  transition: background-color 0.3s, color 0.3s;
}

.dropdown-item:hover {
  background-color: #7b1113 !important;
  color: #fff !important;
}

@media (max-width: 991px) {
  .navbar-dark .navbar-nav .nav-link {
    font-size: 12px;
  }
}
